.DS_Store
/.CFUserTextEncoding
/.history
/.lesshsQ
/.lesshst
/.node-gyp
/.node_repl_history
/.ssh
/.npm
/*.swp
/.viminfo
/.LiveReplayer-meta
/.Trash
/.cache
/.config
/.vim/.netrwhist
/Creative\ Cloud\ Files
/.vscode
/Applications
/Desktop
/Documents
/Downloads
/Library/*
/Movies
/Music
/Pictures
/Public
/repos
