!/Library/Application\ Support
!/Library/Application\ Support/Code
!/Library/Application\ Support/Code/User
!/Library/Application\ Support/Code/User
!/Library/Services
!Library/Application\ Support/Code/User/keybindings.json
!Library/Application\ Support/Code/User/settings.json
.DS_Store
/*.swp
/.CFUserTextEncoding
/.LiveReplayer*
/.LiveReplayer-meta
/.Trash
/.aws
/.bundle
/.cache
/.cargo
/.chef
/.cocoapods
/.composer
/.config/coc
/.config/configstore
/.docker
/.electrum
/.expo
/.gem
/.gnupg*
/.hex
/.history
/.itmstransporter
/.lesshsQ
/.lesshst
/.local
/.mix
/.newtek
/.node-gyp
/.node_repl_history
/.npm
/.phpls
/.rbenv
/.rncache
/.rustup
/.serverless
/.slocdata
/.ssh
/.task
/.terraform.d
/.vagrant.d
/.vim/.netrwhist
/.viminfo
/.vscode
/.vscode-history
/.yarn
/.zcompdump*
/.zsh_history
/Applications
/Creative\ Cloud\ Files
/Desktop
/Documents
/Downloads
/Library/*
/Library/Application\ Support/*
/Library/Application\ Support/Code/*
/Movies
/Music
/Pictures
/Public
/VirtualBox\ VMs
/gems
/private
/process
/projects
/repos
Library/Application Support/Code/User/workspaceStorage
