.DS_Store
/.local
/.aws
/.rustup
/.terraform.d
/.config/configstore
/.rncache
/.gnupg*
/.slocdata
/VirtualBox\ VMs
/.task
/.docker
/.electrum
/.vagrant.d
/.phpls
/.rbenv
/.bundle
/.gem
/.mix
/.hex
/.LiveReplayer*
/.itmstransporter
/.CFUserTextEncoding
/.history
/.lesshsQ
/.lesshst
/.node-gyp
/.node_repl_history
/.ssh
/.npm
/*.swp
/.viminfo
/.LiveReplayer-meta
/.Trash
/.cache
/.composer
/.cargo
/.vim/.netrwhist
/Creative\ Cloud\ Files
/.vscode
/Applications
/Desktop
/Documents
/Downloads
/Movies
/Library/*
!/Library/Services
/Music
/Pictures
/Public
/repos
/private
/process
/projects
